{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registeration</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

    <meta charset="utf-8">
        <title>Sign Up-Bhramanti tours</title>
         <link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets\css\Login-Form-Dark.css' %}">
</head>
<body>
    <div class="text-capitalize login-dark">
        <marquee behavior="scroll" scrollamount="7" height="20" direction="right">bhramanti tours</marquee>


        <div class="container">


    <form action="register" method="post">
        {% csrf_token %}
        <div class="form-group">
        <input type="text" name="first_name" placeholder="First Name"><br></div>
        <div class="form-group">
        <input type="text" name="last_name" placeholder="Last Name"><br></div>
        <div class="form-group">
        <input type="text" name="username" placeholder="Username"><br></div>
        <div class="form-group">
        <input type="email" name="email" placeholder="email"><br></div>
        <div class="form-group">
        <input type="password" name="password1" placeholder="Password"><br></form>
        <div class="form-group">
        <input type="password" name="password2" placeholder="Confirm Password"><br></div>
        <div class="form-group">
        <input type="Submit"></div>

    </form>

    <div>
        {% for message in messages %}
        <h3> {{message}}  </h3>
        {% endfor %}
    </div>

</body>
</html>