{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sign Up-Bhramanti tours</title>
         <link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets\css\Login-Form-Dark.css' %}">
    </head>
    <body>
        <div class="text-capitalize login-dark">
        <marquee behavior="scroll" scrollamount="7" height="20" direction="right">bhramanti tours</marquee>


        <div class="container">
        

        

          <form action="signup" method="post">
            {% csrf_token %}
            <div class="form-group">
            <label for="first_name">First name:</label>
            <input type="text" name="first_name" placeholder="First Name"><br>
            </div>
            <div class="form-group">
              <label for="last_name">Last name:</label>
            <input type="text" name="last_name" placeholder="Last Name"><br>
            </div>
            <div class="form-group">
              <label for="email">Email ID:</label>
            <input type="email" name="email" placeholder="email"><br>
            </div>
            <div class="form-group">
              <label for="password1">password:</label>
              
            <input type="password" name="password1" placeholder="Password"><br>
            </div>
            <div class="form-group">
              <label for="password2">confirm password:</label>
            <input type="password" name="password2" placeholder="Confirm Password"><br>
            </div>
            <div class="form-group">
              <label for="gender">Gender:</label>
            <input type="text" name="gender" placeholder="Gender"><br>
            </div>

            <div class="form-group">
              <label for="dob">Date Of Birth:</label>
            <input type="datetime" name="dob" placeholder="Date Of Birth"><br>
            </div>

            <div class="form-group">
              <label for="mob">Mobile No.</label>
            <input type="number" name="mob" placeholder="Mobile No."><br>
            </div>
            
            <button type="submit" id="button" class="btn btn-success btn-block">Submit</button>
              
        </form>
        <div>
          {% for message in messages %}
          <h3> {{message}}  </h3>
          {% endfor %}
      </div>


    


 

</div>
</div>
</div>
    </body>
</html>
